[*.cs]

# CS8605: Unboxing a possibly null value.
dotnet_diagnostic.CS8605.severity = silent

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider adding the 'required' modifier or declaring as nullable.
dotnet_diagnostic.CS8618.severity = silent
