{
  "Settings": {
    "Language": "en",
    "VersionName": "Blue",
    "SaveFilePath": "/path/to/.sav/file",
    "Mode": "read",
    "OutputToConsole": true,
    "OutputToFile": true,
    "OutputToDatabase": true,
    "OutputFilePath": "/path/to/pokemon-storage-cs/output"
  },
  "ConnectionStrings": {
    "Database": "Server=___;Uid=___;Pwd=___;Database=pokemon;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  }
}