{
  "Settings": {
    "Language": "en",
    "Mode": "read",
    "ReadOutput": "file",
    "VersionName": "Platinum",
    "SaveFilePath": "/path/to/save/file.sav"
    "FileOutputPath": "/path/to/output"
  },
  "ConnectionStrings": {
    "Database": "Server=___;Uid=___;Pwd=___;Database=pokemon;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  }
}